[MESSAGES CONTROL]
disable=
    broad-except,
    deprecated-lambda,
    fixme,  # Allow FIXMEs in code is a useful practice
    import-error,
    import-outside-toplevel,  # Done on purpose to reduce overhead at startup
    import-outside-toplevel,  # Done on purpose to reduce overhead at startup
    invalid-name,
    line-too-long,  # Flake8 is used for testing line-length
    missing-docstring, # Temporarily disabled until we fix it
    no-init,
    no-self-use,
    old-style-class,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-function-args,
    too-many-instance-attributes,
    too-many-locals,
    too-many-public-methods,
    too-many-statements,
    unnecessary-lambda,
    unused-argument,
    wrong-import-order,
